@font-face {
    font-family: 'Minecraft';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(assets/fonts/Minecraft.otf) format('truetype');
}

@font-face {
    font-family: 'Minecraft';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(assets/fonts/MinecraftBold.otf) format('truetype');
}

:root {
    --input-color: #152689;
    --background-color: #fff;
    --foreground-color: #152689;
    --link-visited-color: #455de4;
    --link-color: #1657e4;
    --stat-color: #0060dd;
    --border-color: #0a0a0a;
    --main-font: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    --mono-font: "Source Code Pro", "Menlo", "Monaco", "Consolas", monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --input-color: #000;
        --background-color: #07114d;
        --foreground-color: #f3f3f3;
        --link-visited-color: rgb(165, 170, 238);
        --link-color: #3e75ee;
        --stat-color: #ffffb4;
        --border-color: #5f5faf;
        --main-font: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
        --mono-font: "Source Code Pro", "Menlo", "Monaco", "Consolas", monospace;
    }
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    margin: 1% 15% 1% 15%;
    font-family: var(--main-font);
}

input, option, select {
    color: var(--input-color);
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

.small {
    font-size: 80%;
}

.minion-stat {
    font-family: var(--mono-font);
    color: var(--stat-color);
    font-size: 90%;
}

.minion-stat-cell {
    font-family: var(--mono-font);
    color: var(--stat-color);
    font-size: 90%;
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: none !important;
    padding-right: 1%;
}

.minion-stat-cell-coins {
    padding-right: 1%;
    font-family: var(--mono-font);
    color: var(--stat-color);
    font-size: 90%;
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: none !important;
    text-align: right;
}

.minion-cell {
    padding-right: 1%;
    padding: 10px;
    text-align: right;
    border-left: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-right: none !important;
}

td {
    border: 1px solid var(--border-color);
    width: 16%;
}

td.silent {
    border: none;
}

.note {
    font-size: 0.95em;
}

.indent-notes {
    margin-left: 2%
}

.status {
    position: fixed;
    left: 1%;
    bottom: 0.5%;
    padding: 5px;
}

.status-element {
    font-family: var(--mono-font);
    font-size: 90%;
    padding: 5px;
    transition: all 250ms linear;
    transform: translate(0px, 100px);
    pointer-events: none;
}